<div>
    <p>Bonjour,</p>

    <p>Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte. Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail.</p>

    <p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

    <p><a target="_blank" href="{{ reset_password_url }}">Réinitialiser votre mot de passe</a></p>

    <p>Ce lien expirera dans 1 heure.</p>

    <p>Merci</p>
</div>